extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Loc8r
          small &nbsp;Find places to work with WiFi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Starcups
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125 High Street, ME 41234
          p
            span.label.label-warning Hot drinks 
            | &nbsp;
            span.label.label-warning Food 
            | &nbsp;
            span.label.label-warning Premium wifi 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Murphy's
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 117m
          p.address Somewhere on Elm Street, Manchester, NH
          p
            span.label.label-warning Cold drinks 
            | &nbsp;
            span.label.label-warning Premium wifi 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") The Garrison Tavern
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 250m
          p.address Birmingham
          p
            span.label.label-warning Cold drinks 
            | &nbsp;
            span.label.label-warning Danger 
            | &nbsp;
            span.label.label-warning Ultra premium wifi 
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Need WiFi and a seat? Check back often for the best locations. And share your ratings to help others do the same.
            
